@model CountryListViewModel
@{
    ViewData["Title"] = "Olympic Countries";

}

<div class="row">
    <div class="col-sm-3">
        <h3 class="mt-3">Games</h3>
        <div class="list-group">
            @foreach (Game game in Model.Games)
            {
                <a asp-action="Index"
                   asp-route-activeGame="@game.GameID"
                   asp-route-activeSport="@Model.ActiveSport"
                   class="list-group-item
                       @Model.CheckActiveGame(game.GameID)">@game.GName</a>
                }
        </div>
        <h3 class="mt-3">Sports</h3>
        <div class="list-group">
            @foreach (Sport sport in Model.Sports)
            {
                <a asp-action="Index"
                   asp-route-activeGame="@Model.ActiveGame"
                   asp-route-activeSport="@sport.SportID"
                   class="list-group-item
                       @Model.CheckActiveSport(sport.SportID)">@sport.SportName</a>
                }
        </div>
    </div>
    <div class="col-sm-9">
        <ul class="list-inline">
            <li class="list-inline-item">
                @using (Html.BeginForm("Details", "Home", FormMethod.Post))
                {

                    <div id="ItemContainer">
                        @for (int i = 0; i < Model.Countries.Count; i++)
                        {
                            <button class="bg-white border-0" type="submit">
                                <img src="~/images/@Model.Countries[i].CountryImage" alt="@Model.Countries[i].Name"
                                     title="@Model.Countries[i].Name | @Model.Countries[i].Game.GName| @Model.Countries[i].Sport.SportName" />
                            </button>

                            @Html.HiddenFor(m => m.Countries[i].CountryID)
                            @Html.HiddenFor(m => m.Countries[i].CountryImage)
                            @Html.HiddenFor(m => m.Countries[i].Game)
                            @Html.HiddenFor(m => m.Countries[i].GameID)
                            @Html.HiddenFor(m => m.Countries[i].Name)
                            @Html.HiddenFor(m => m.Countries[i].Sport)
                            @Html.HiddenFor(m => m.Countries[i].SportID)
                        }
                    </div>
                }
            </li>
        </ul>
    </div>
</div>